
CIFAR10/cifar-10-python.tar.gz
CIFAR10/cifar-10-batches-py/test_batch
CIFAR10/cifar-10-batches-py/readme.html
CIFAR10/cifar-10-batches-py/data_batch_5
CIFAR10/cifar-10-batches-py/data_batch_4
CIFAR10/cifar-10-batches-py/data_batch_3
CIFAR10/cifar-10-batches-py/data_batch_2
CIFAR10/cifar-10-batches-py/data_batch_1
CIFAR10/cifar-10-batches-py/batches.meta
__pycache__/
